body{
font-family: Poppins, sans-serif;

}

#sign-in{
 
background-color: #21B573;
border-radius: 33px;
width: 104px;
height: 43px;
text-align: center;
color: white;

}

#sign-in:hover{
    background-color: #FBD15B;
    color:#21B573;
    border:1px solid #21B573;
}

.nav-bg{
    background-color: #F0FFF0;
    color:black;
}

.logo-width{
    height:59px;
    width:198px;
}

div .nav-link{
    color:black;
    
}

.nav-item{
    text-align: right;
    margin-left:40px;
}

.cover-index{
    height:100%;
    padding-bottom: 50px;
    
    
}

.section-bg{
    background-color:#F0FFF0;
}

.index-text-color{
    color:#21B573;
}
.btn{
    background-color: #21B573;
    border-radius: 30px;
    width:150px;
    font-weight: 200;
}

.index-text-format{
    font-weight: bold;
    font-size: 48px;
    line-height: 70px;
}

.index-paragraph-format{
    font-size: 16px;
    line-height: 36px;
     color: #6C6B6B;
}

.text-resize p{
    font-size:10px;
    line-height:10px;
}

.text-color{
    color:#585859 ;
    opacity:.8;
    
}

.icon{
    width:20px;
    height:20px;
}

.card{
    box-shadow: 0 5px 20px rgba(109, 109, 109, 0.12);
    border-radius: 15px;
    border: 0;
}

.box-model{
   
    background-color:#F8FFFB;
    margin-right:40px;
    margin-left: 40px;
    padding-top:25px;
    padding-bottom: 20px;
    border-radius: 15px;
    width:20%;
    margin-right: 10px;
}


.box-model:hover{
    background-color:white;
    box-shadow: 0 5px 20px rgba(109, 109, 109, 0.12);;
}

.quote{
    
        word-wrap: break-word;
        margin-top: 35px;
        line-height: 30px     
}

footer{
    background-color: #282531 ;
    color:#fff;
   
}

footer li a{
    color:#fff;   
}
footer li a:hover{
    text-decoration: none;
    color:#21B573;
}

